* {       
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    font-weight: bold;
    font-size: 2em;
}

.subheader {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-width: 0;
    width: 100%;
}

td {
    border-width: 0;
    vertical-align: top;
    width: 20%;
}

a:link, a:visited, a:active {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
